@import url('http://fonts.googleapis.com/css?family=Oxygen:400,700');
body {color:#293136; font-family:'Oxygen',sans-serif; font-size:16px;}
h1, h2, h3, h4, h5, h6 {margin-top:0;}
a {color:#3485b4;}
a:hover {color:#293136;}
#tinymce {line-height:1.8em;}
#tinymce h1 {font-size:30px;}
#tinymce h2 {font-size:26px;}
#tinymce h3 {font-size:24px}
#tinymce h4 {font-size:21px;}
#tinymce h5 {font-size:18px;}
#tinymce h6 {font-size:16px;}
#tinymce p {margin-bottom:30px;}
#tinymce img {display:inline-block; height:auto; max-width:100%;}
#tinymce ul {padding:0; margin-left:16px;}
#tinymce blockquote {border-left:4px solid #3485b4; padding-left:30px; color:#aaa; font-style:italic;}
#tinymce table {width:100%; margin-bottom:30px;}
#tinymce td, #tinymce th {border:1px solid #ccc; padding:4px 8px;}
#tinymce dt {font-weight:bold;}
#tinymce dd {margin:0;}
.attachment-featured {margin-bottom:30px; display:inline-block; height:auto; max-width:100%;}
.wp-caption, .gallery-caption {max-width:97%; font-size:14px;}
.wp-caption-text {color:#999; margin-top:2px;}
.aligncenter {text-align:center;}
.alignleft {float:left; margin-right:15px;}
.alignright {float:right; margin-left:15px;}
cite {border:0;}
